ASTRONAUT_USD_PATH = "MOVING ELEMENT USD PATH" # e.g. omniverse://<your-nucleus-host>/Projects/<...>/Astronaut.usd
DATA_PATH = "lOCAL DATA PATH" # e.g. ./data/living_trajectory_1min_0.2s.csv
MINIO_ENDPOINT=MINIO ENDPOINT # e.g. https://api.minio.mobilex.kr or http://
MINIO_ACCESS_KEY=MINIO ACCESS KEY
MINIO_SECRET_KEY=MINIO SECRET KEY
MINIO_BUCKET=time-travel-summarization
MINIO_SECURE=true
